
assets/airtable.png
assets/airtable.svg
DS4A  Data Engineering 1.0 Certificate Honors.jpg
Group2CapstoneL.png
icons8-email-24.png
icons8-github-24.png
icons8-linkedin-24.png
icons8-phone-24.png
icons8-website-24.png
Manual Timesheet (Early to Regular).png
Manual Timesheet (Early).png
Manual TimeSheet (Employee Info).png
Manual Timesheet (OFF).png
project1.jpg
project1small.jpg
